@media screen and (max-width: 1289px) and (min-width: 990px) {}
@media screen and (max-width: 980px){
    .shoping_card_body {
        /* display: flex;
        flex-direction: column; */
    }

  
}

@media screen and (max-width: 980px) and (min-width: 766px)  {

    .desk_card_product_row{
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
    }

    

    .cart_quantity_button_container {

    }

    .card_quantity_price {
        grid-area: 1/3;
    }

    .cart_quantity_button_container {
        grid-area: 2/span 2;
    }

    .card_delete_btn {
        grid-area: 2/4;
    }
}

@media (min-width: 992px){}

@media (min-width: 1200px){}
    
